.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.primary-text {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.section-desc {
  font-size: 18px;
}
.section-title {
  font-weight: bold;
  font-size: 85px;
}
.secondary-bg {
  background-color: #fff8f3;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 35px;
}
nav ul li {
  margin-right: 50px;
  font-size: 20px;
  list-style: none;
}
nav li a {
  text-decoration: none;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 200px;
}
.banner-content {
  max-width: 585px;
  border: 2px solid red;
}
.banner-greetings {
  font-weight: 600;
  font-size: 40px;
}

.banner img {
  border: 2px solid aqua;
}

main {
  max-width: 1140px;
  border: 2px solid red;
  margin: 0 auto;
}
/* main section{
  margin-top: 130px;
  margin-bottom: 130px;
} */
.about {
  text-align: center;
  padding: 100px 150px;
  border-radius: 10px;
  /* margin-top: 100px; */
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.about-content {
  background-color: white;
}
.about-title {
  font-weight: bold;
  font-size: 35px;
}
.about-info {
  font-weight: bold;
  font-size: 20px;
}

.skills {
  border: 2px solid red;
  padding: 100px;
}
.skill-title {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.skill-desc {
  font-size: 18px;
  text-align: center;
}

.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  /* border: 2px solid red; */
  padding: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
